@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url(ka\'bah.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    z-index: 2;
}

.container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.number-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.number-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #f8f9fa;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #93979a;
    color: white;
}

button:hover {
    background-color: #676e74;
}

.quotes1 {
    position: absolute;
    top: 230px;
    right: 20px;
    max-width: 300px;
    text-align: right;
}

.quotes2 {
    position: absolute;
    top: 30px;
    right: 20px;
    max-width: 300px;
    text-align: right;
}


.quotes1 p, .quotes2 p {
    margin: 5px 0;
    color: #333;
    font-family: 'Amiri', serif;
    line-height: 1.8;
}

.quotes1 p[lang="ar"], .quotes2 p[lang="ar"] {
    text-align: right;
    direction: rtl;
    font-size: 1.2em;
}